/* ==========================================================================
   Rofi color theme

   Based on the Catppuccin Mocha color scheme
   File: catppuccin-mocha.rasi
   ========================================================================== */

* {
    /* Theme settings */
    highlight: bold italic;
    scrollbar: true;

    /* Catppuccin Mocha colors */
    ctp-base:      #eff1f5;
    ctp-mantle:    #e6e9ef;
    ctp-surface0:  #ccd0da;
    ctp-text:      #4c4f69;
    ctp-subtext1:  #5c5f77;
    ctp-red:       #d20f39;
    ctp-maroon:    #e64553;
    ctp-peach:     #fe640b;
    ctp-yellow:    #df8e1d;
    ctp-overlay0:  #9ca0b0;


    /* Theme colors */
    background:                  @ctp-base;
    background-color:            @background;
    foreground:                  @ctp-text;
    border-color:                @ctp-overlay0;
    separatorcolor:              @border-color;
    scrollbar-handle:            @border-color;

    normal-background:           @background;
    normal-foreground:           @foreground;
    alternate-normal-background: @ctp-mantle;
    alternate-normal-foreground: @foreground;
    selected-normal-background:  @ctp-surface0;
    selected-normal-foreground:  @ctp-subtext1;

    active-background:           @ctp-peach;
    active-foreground:           @background;
    alternate-active-background: @active-background;
    alternate-active-foreground: @active-foreground;
    selected-active-background:  @ctp-yellow;
    selected-active-foreground:  @active-foreground;

    urgent-background:           @ctp-red;
    urgent-foreground:           @background;
    alternate-urgent-background: @urgent-background;
    alternate-urgent-foreground: @urgent-foreground;
    selected-urgent-background:  @ctp-maroon;
    selected-urgent-foreground:  @urgent-foreground;
}
