# vim: noexpandtab
[user]
	email = bnjmnhnt.git@gmail.com
	name = Ben Hunt

[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = false
[alias]
	sw = switch
	st = status
	br = branch
	co = checkout
	cob = checkout -b
	z = fzf
	root = "rev-parse --show-toplevel"
