[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule ".config/dmenu-5.0"]
	path = .config/dmenu-5.0
	url = https://github.com/BenGH28/dmenu-plusplus.git
