.Xauthority
.Xclients
.bash_history
.cache/
.cargo/
.cmake/
.config/Kitware/
.config/Kvantum/
.config/Mousepad/
.config/QtProject.conf
.config/Thunar/
.config/autostart/
.config/bash/
.config/bauh/
.config/calibre/
.config/catfish/
.config/cef_user_data/
.config/coc/
.config/compton/
.config/configstore/
.config/dconf/
.config/discord/
.config/falkon/
.config/galculator/
.config/gitahead.com/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/i3blocks/
.config/manjaro-hello.json
.config/manjaro/
.config/mimeapps.list
.config/neofetch/
.config/nitrogen/
.config/pamac/
.config/pulse/
.config/qpdfview/
.config/qt5ct/
.config/qutebrowser/
.config/rofi/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/viewnior/
.config/vlc/
.config/volumeicon/
.config/xfce4/
.dir_colors
.dmrc
.dotfiles/
.gitconfig
.gnupg/
.gtkrc-2.0
.icons/
.lesshst
.local/
.mozilla/
.npm/
.oh-my-zsh/
.pki/
.profile
.rustup/
.shell.pre-oh-my-zsh
.ssh/
.subversion/
.var/
.vcpkg/
.vim/
.viminfo
.viminfo.tmp
.viminfy.tmp
.vimrc
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdump-Jotunheim-5.8
.zprofile
.zsh_history
.zshrc.zwc
Desktop/
Downloads/
Pictures/
calibre/
repos/
rustling/
snap/
vcpkg/
.ICEauthority
.dotfiles
.config/qtile/__pycache__/
.config/GIMP/
.config/awesome/
.config/bpytop/
.config/ipython/
.config/libreoffice/
.config/nvim/.netrwhist
.config/qterminal.org/
.config/qtile/config.py.bak
.config/sgtk-menu/
.config/spectrwm/
.config/systemd/
.dbus/
.insert-shebang.log
.java/
.pipewire-media-session/
.pylint.d/
.python_history
.wget-hsts
.zcompdump-murtagh-5.8
Documents/
vimwiki/
