.Xauthority
.Xclients
.bash_history
.cache/
.cargo/
.cmake/
.config/Kitware/
.config/Kvantum/
.config/Mousepad/
.config/QtProject.conf
.config/Thunar/
.config/autostart/
.config/bash/
.config/bauh/
.config/calibre/
.config/catfish/
.config/cef_user_data/
.config/coc/
.config/compton/
.config/configstore/
.config/dconf/
.config/discord/
.config/falkon/
.config/galculator/
.config/gitahead.com/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/i3blocks/
.config/manjaro-hello.json
.config/manjaro/
.config/mimeapps.list
.config/neofetch/
.config/nitrogen/
.config/pamac/
.config/pulse/
.config/qpdfview/
.config/qt5ct/
.config/qutebrowser/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/viewnior/
.config/vlc/
.config/volumeicon/
.config/xfce4/
.dir_colors
.dmrc
.dotfiles/
.gitconfig
.gnupg/
.gtkrc-2.0
.icons/
.lesshst
.local/
.mozilla/
.npm/
.oh-my-zsh/
.pki/
.rustup/
.shell.pre-oh-my-zsh
.ssh/
.subversion/
.var/
.vcpkg/
.vim/
.viminfo
.viminfo.tmp
.viminfy.tmp
.vimrc
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdump-Jotunheim-5.8
.zprofile
.zsh_history
.zshrc.zwc
Desktop/
Downloads/
calibre/
repos/
rustling/
snap/
vcpkg/
.ICEauthority
.dotfiles
.config/qtile/__pycache__/
.config/GIMP/
.config/awesome/
.config/bpytop/
.config/ipython/
.config/libreoffice/
.config/nvim/.netrwhist
.config/qterminal.org/
.config/qtile/config.py.bak
.config/sgtk-menu/
.config/spectrwm/
.config/systemd/
.dbus/
.insert-shebang.log
.java/
.pipewire-media-session/
.pylint.d/
.python_history
.wget-hsts
.zcompdump-murtagh-5.8
Documents/
vimwiki/
.config/Code - OSS/
.config/ReText project/
.config/ctags-5.8/
.config/hexchat/
.config/jesseduffield/
.config/kazam/
.config/obs-studio/
.config/pipewire-media-session/
.config/qalculate/
.config/ranger/plugins/
.config/slock/
.config/st/
.emacs.d/
.vimtags
.vscode-oss/
.z
.zcompdump
scripts/__pycache__/
.bin/
.cabal/
.config/Trolltech.conf
.config/arcolinux-logo/
.config/arcolinux-tweak-tool/
.config/arcolinux-welcome-app/
.config/arcologout/
.config/dmenu/
.config/efm-langserver/
.config/exercism/
.config/flameshot/
.config/font-manager/
.config/fontconfig/
.config/gpick/
.config/inkscape/
.config/lazygit/
.config/lua-language-server/
.config/nomacs/
.config/nvim/
.config/pavucontrol.ini
.config/picom.conf
.config/rofi/config
.config/termite/
.config/variety/
.config/vivaldi/
.config/yad.conf
.face
.fehbg
.ghc/
.ghcup/
.screenrc
.stack/
.xsession
.xsessionrc
.zcompdump-Murtagh-5.8
.zcompdump-Murtah-5.8
.zshenv
Pictures/Screenshot from 2021-03-13 17-47-38.png
Videos/
exercism/
neovim/
package-lock.json
package.json
rustlings/
