xset r rate 210 40

#if not a laptop set my displays accordingly
[ ! -f /sys/class/power_supply/BAT?/model_name ] &&
    xrandr --output DP-2 --mode 1920x1080 --rate 60 --primary &&
    xrandr --output HDMI-0 --mode 1920x1080 --rate 60 --noprimary --right-of DP-2
