* {
    border: none;
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
    min-height: 25px;
}

window#waybar {
    background: transparent;
    margin: 5px;
    color: #919c9f
}

#workspaces button.active {
    color: #abb2bf
}

.modules-right {
    padding-left: 5px;
    border-radius: 15px 0 0 15px;
    margin-top: 2px;
    background: #000000;
}

/* .modules-center { */
/*     padding: 0 15px; */
/*     margin-top: 2px; */
/*     border-radius: 15px 15px 15px 15px; */
/*     background: #000000; */
/* } */

.modules-left {
    border-radius: 0 15px 15px 0;
    margin-top: 2px;
    background: #000000;
}

#workspaces button:hover {
    margin: 2px;
}


#battery,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
    padding: 0 5px;
}

#pulseaudio {
    padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
    color: #FF0000;
    padding-top: 0;
}

#network {
    margin-right: 5px;
}

#clock {
    color: #5fd1fa;
}

#window {
    margin-right: 5px;
}

#battery {
    border-radius: 0 15px 15px 0;
    padding-right: 15px;
}

#mpris {
    padding-left: 5px;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    margin-top: 2px;
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    margin-top: 2px;
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    margin-right: 10px;
    margin-left: 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 2px;
    min-width: 100px;
    border-radius: 5px;
    background-color: #2b2b2b;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    background-color: #5bc0ff;
}


.not-power {
    background-color: #2b2b2b;
    margin-right: 5px;
    margin-left: 15px;
    padding: 0 5px;
}

.hardware {
    /* padding that is only on the left and right*/
    padding-left: 5px;
    padding-right: 5px;
}
