/* ==========================================================================
   Rofi color theme

   Based on the Dracula color scheme
   File: dracula.rasi
   ========================================================================== */

* {
    /* Theme settings */
    highlight: bold italic;
    scrollbar: true;

    dracula-bg: #282A36;
    dracula-bg-lighter: #424450;
    dracula-bg-light: #343746;
    dracula-bg1: #21222C;
    dracula-bg2: #191A21;
    dracula-current-line: #6272A4;
    dracula-selection: #44475A;
    dracula-fg: #F8F8F2;
    dracula-comment: #6272A4;
    dracula-red: #FF5555;
    dracula-orange: #FFB86C;
    dracula-yellow: #F1FA8C;
    dracula-green: #50FA7B;
    dracula-cyan: #8BE9FD;
    dracula-purple: #BD93F9;
    dracula-pink: #FF79C6;

    /* Theme colors */
    background:                  @dracula-bg;
    background-color:            @background;
    foreground:                  @dracula-fg;
    border-color:                @dracula-comment;
    separatorcolor:              @border-color;
    scrollbar-handle:            @border-color;

    normal-background:           @background;
    normal-foreground:           @foreground;
    alternate-normal-background: @dracula-bg1;
    alternate-normal-foreground: @foreground;
    selected-normal-background:  @dracula-selection;
    selected-normal-foreground:  @dracula-fg;

    active-background:           @dracula-orange;
    active-foreground:           @background;
    alternate-active-background: @active-background;
    alternate-active-foreground: @active-foreground;
    selected-active-background:  @dracula-yellow;
    selected-active-foreground:  @active-foreground;

    urgent-background:           @dracula-red;
    urgent-foreground:           @background;
    alternate-urgent-background: @urgent-background;
    alternate-urgent-foreground: @urgent-foreground;
    selected-urgent-background:  @dracula-pink;
    selected-urgent-foreground:  @urgent-foreground;
}

